<h1><%= t("views.profiles.show") %></h1>
<p>
  <strong><%= t("views.profiles.name") %></strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t("views.profiles.email") %></strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t("views.profiles.locale") %></strong>
  <%= @user.locale %>
</p>