<h1>Новая карта</h1>
<%= form_for :card, url: cards_path do |f| %>
  <p>
    <%= f.label :Оригинальный_текст %><br>
    <%= f.text_field :original %>
  </p>
 
  <p>
    <%= f.label :Перевод %><br>
    <%= f.text_field :translated %>
  </p>

  <p>
    <%= f.label :Дата_обновления %><br>
    <%= f.date_field :review %>
  </p> 
  <p>
    <%= f.submit %>
  </p>
<% end %>