<h1><%= t("views.profiles.title") %></h1>
<%= simple_form_for current_user, as: :profile, url: dashboard_profile_path do |f| %>
  <div class="field form-group">
    <%= f.input :name, as: :string, label: t("views.profiles.name"), html: { class: "form-control" } %>
  </div>
  <div class="field form-group">
    <%= f.input :email, as: :string, label: t("views.profiles.email"), html: { class: "form-control" } %>
  </div>
  <div class="field form-group">
    <%= f.input :locale, label: t("views.profiles.locale"), collection: I18n.available_locales %>
  </div>
  <div class="field form-group">
    <%= f.input :password, label: t("views.profiles.password"), html: { class: "form-control" } %>
  </div>
  <div class="field form-group">
    <%= f.input :password_confirmation, label: t("views.profiles.password_confirmation"),
                                        html: { class: "form-control" } %>
  </div>
  <p class="form-group">
    <br>
    <%= f.button :submit, t("views.profiles.save") %>
  </p>
<% end %>