<h1><%= t("views.decks.list") %></h1>

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th colspan="5"><%= t("views.decks.name") %></th>
    </tr>

  <% @decks.each do |deck| %>
    <tr>
      <td><%= deck.title %></td>
      <td><%= link_to t("views.decks.show"), deck_path(deck) %></td>
      <td><%= link_to t("views.decks.edit"), edit_deck_path(deck) %></td>
      <td><%= link_to t("views.decks.delete"), deck_path(deck), method: :delete,
                                                                data: { confirm: t("views.decks.sure") } %></td>
      <td><%= link_to t("views.decks.default"), set_current_deck_path(deck), method: :put %></td>
    </tr>
  <% end %>
  </table>
</div>