<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

<body>

<section id="container">
<div>
  <header class="clearfix">
    <h1><%=link_to 'Флэшкарточкер', root_path %></h1><br>
    <div class="col-md-12 navigation-links">
      <ul class="nav nav-tabs nav-justified">
        <li><%= link_to "Все карточки",    cards_path %>
        <li><%= link_to "Добавить карточку", new_card_path %>
      </ul>
    </div>
  </header>
</div>

<section id="container">
  
    <%= yield %>

</section>

</section>
</body>
</html>
