<!DOCTYPE html>
<html>
  <head>
    <title><%= t("views.app_name") %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "favicon.ico" %>
  </head>

<body>
<section id="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <% if current_user %>
      <%= render "shared/user" %>
    <% else %>
      <%= render "shared/guest" %>
    <% end %>
    </div>
  </nav>
<footer>
  <div class="hero-unit">
    <h1><%= link_to t("views.app_name"), root_path %></h1>
    <p>
      <h3><%= t("views.app_description") %></h3>
    </p>
  </div>
  <% if current_user %>
    <%= render "shared/navi" %>
  <% end %>
</footer>

  <%= yield %>
  <%= debug(params) if Rails.env.development? %>

  <p class="color-notice"><%= flash[:notice] %></p>
  <p class="color-alert"><%= flash[:alert] %></p>

</section>

</body>
</html>
